<div id="store" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/e-commerce/stores'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="store-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <img [src]="'assets/images/ecommerce/product-image-upload-placeholder.png'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{store.name}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Store
          </div>
          <div class="subtitle secondary-text">
            <span>Store Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <div>
        <button mat-raised-button class="save-store-button mat-accent-bg mt-16 mt-sm-0" [disabled]="storeForm.invalid" *ngIf="pageType ==='new'"
          (click)="addStore()">
          <span>ADD</span>
        </button>

        <button mat-raised-button class="save-store-button mat-accent-bg mt-16 mt-sm-0" [disabled]="storeForm.invalid" *ngIf="pageType ==='edit'"
          (click)="saveStore()">
          <span>SAVE</span>
        </button>

        <button mat-raised-button class="save-store-button mat-warn-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="deleteStore()">
          <span>DELETE</span>
        </button>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="storeForm" [formGroup]="storeForm" class="store w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>

            <mat-tab label="Basic Info">
              <div class="tab-content p-24" fusePerfectScrollbar>

                <mat-form-field class="w-100-p">
                  <input matInput name="name" formControlName="name" placeholder="Store Name" required>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput name="Keeper" formControlName="keeper" placeholder="Keeper" required>
                </mat-form-field>

              </div>
            </mat-tab>

            <mat-tab label="Contacts">
              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                <mat-form-field class="w-100-p">
                  <input matInput name="Email" formControlName="email" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput name="Phone" formControlName="phone" placeholder="Phone" pattern="^((01[2689])|09)[0-9]{8}$" required>
                </mat-form-field>

                <div class="py-16" fxLayout="row">
                  <mat-form-field fxFlex>
                    <input matInput placeholder="City" formControlName="city" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                        {{ city.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                      <input matInput placeholder="Districts" formControlName="district" [matAutocomplete]="district">
                      <mat-autocomplete #district="matAutocomplete">
                          <mat-option *ngFor="let district of filteredDistricts | async" [value]="district.name">
                              {{ district.name }}
                            </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <input matInput name="Address" formControlName="address" placeholder="Address">
                  </mat-form-field>
                </div>

              </div>
            </mat-tab>

          </mat-tab-group>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>