<div id="stores" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
        <span style="text-transform: uppercase" class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Stores</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button [routerLink]="'/apps/e-commerce/stores/new'" class="add-store-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW STORES</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="stores-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let store" [title]="store.name">
            <p class="text-truncate">{{store.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Keeper Column -->
        <ng-container matColumnDef="keeper">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Keeper</mat-header-cell>
          <mat-cell *matCellDef="let store" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{store.keeper}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Email</mat-header-cell>
          <mat-cell *matCellDef="let store" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{store.email}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Phone</mat-header-cell>
          <mat-cell *matCellDef="let store" fxHide fxShow.gt-sm>
            <span>
              {{store.phone}}
            </span>

          </mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Address</mat-header-cell>
          <mat-cell *matCellDef="let store" fxHide fxShow.gt-xs>
            <span>
              {{store.city}}, {{store.district}}, {{store.address}}
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let store; columns: displayedColumns;" class="store" matRipple [routerLink]="'/apps/e-commerce/stores/'+store.id">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
